/*=====================================*/
/* Master Page Styles                  */
/*=====================================*/

* {
	margin: 0;
	font-family: arial;
}

#page-content {
	padding: 100px 20px 0 20px;
	max-width: 960px;
	margin: 0 auto;
}

/*=====================================*/
/* Helper Classes                      */
/*=====================================*/

.img-responsive {
	display: block;
	width: 100%;
	margin: 20px 0;
}

/*=====================================*/
/* Navigation Bar                      */
/*=====================================*/

nav {
  background: rgb(0,0,0);
  width: 100%;
  height: 50px;
  position: fixed;
}

ul {
  float: right;
  position: relative;
  top: -10px;
  margin-right: 10px;
  text-transform: lowercase;
}

li {
  list-style: none;
  background: rgb(0,0,0);
  margin: 10px 0;
}

/*=====================================*/
/* Hover Effect sizing and spacing     */
/*=====================================*/

#contact a {
	position: absolute;
	left: 0;
	right: 0;
	text-decoration: none;
	background: rgb(0,0,0);
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

nav a:nth-child(1) li{
  width: 73px;
}

nav a:nth-child(2) li{
  width: 79px;
}

nav a:nth-child(3) li{
  width: 92px;
}

/*=====================================*/
/* Link Styles                         */
/*=====================================*/

a:link, a:visited {
  text-decoration: none;
  color: rgb(255,255,255);
}

a:hover {
  color: rgb(201,31,21);
}

/*=====================================*/
/* Hover Effect                        */
/*=====================================*/

.he {
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.he:before, .he:after {
  transition: all 0.1s ease;
  position: relative;
  top: -1px;
}

.he:before {
  content: "[ ";
}

.he:after {
  content: " ]";
}

.he:hover.he:before {
  position: relative;
  left: -5px;
  top: 1px;
  font-size: 25px;
  color: rgb(201,31,21);
  line-height: 25px;
}

.he:hover.he:after {
  position: relative;
  left: 5px;
  top: 1px;
  font-size: 25px;
  color: rgb(201,31,21);
  line-height: 25px;
}
